body {margin: 0;}
canvas {clear:both; padding: 0; display: block; margin: auto;}
.title {font-family: 'Alegreya Sans SC'; font-weight: 900; font-size: 4.2vw; line-height: 0.02vh; fill: #423b2b; margin: 0.2rem 0 0.2rem 0;}
.subtitle {font-family: 'Roboto'; font-weight: 400; font-size: 1.5vw; line-height: 0.02vh; fill: #423b2b;}
.body {font-family: 'Roboto'; font-weight: 400; font-size: 1.2vw; line-height: 1.2vh; fill: #725744;}
.caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.98vw; line-height: 0.013vh; fill: #a8a09b;}
.avo-white-caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.98vw; line-height: 0.013vh; fill: white;}
.avo-green-caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.98vw; line-height: 0.013vh; fill: #92a740;}

#rectEl0 { animation: rectStacked0 ease 1s 1;}
#rectEl1 { animation: rectStacked1 ease-out 1s 1;}
#rectEl2 { animation: rectStacked2 ease-in-out 0.5s 1;}
#rectEl3 { animation: rectStacked3 ease 0.5s 1;}
#rectEl4 { animation: rectStacked4 ease-in 0.5s 1;}
@keyframes rectStacked0{
    0% {height: 0;}
    100% {height: 66%;}
}
@keyframes rectStacked1{
    0% {height: 0;}
    100% {height: 40%;}
}
@keyframes rectStacked2{
    0% {height: 0;}
    100% {height: 15.5%;}
}
@keyframes rectStacked3{
    0% {height: 0;}
    100% {height: 6.5%;}
}
@keyframes rectStacked4{
    0% {height: 0;}
    100% {height: 3%;}
}

/* #avoInnerText0 {animation: textBink0 ease 1s 1 0.2s;}
#avoInnerText1 {animation: textBink1 ease-out 1s 1 0.4s;}
#avoInnerText2 {animation: textBink2 ease-in-out 0.5s 1 0.6s;}
#avoInnerText3 {animation: textBink3 ease-in-out 0.5s 1 0.8s;}
#avoInnerText4, #avoInnerText5 {animation: textBink4 ease 0.5s 1 0.9s;}
#avoInnerText5, .avo-green-caption {animation: textBink5 ease-in 0.5s 1 1s;}
@keyframes textBink0{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes textBink1{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes textBink2{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes textBink3{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes textBink4{
    from {opacity: 0;}
    to {opacity: 1;}
} */