body {margin: 0;}
svg {padding: 0; display: block; margin: auto;}
.title {font-family: 'Alegreya Sans SC'; font-weight: 900; font-size: 4.2vw; line-height: 0.02vh; fill: #423b2b; margin: 0.2rem 0 0.2rem 0;}
.subtitle {font-family: 'Roboto'; font-weight: 500; font-size: 1.56vw; line-height: 0.02vh; fill: #423b2b;}
.ivory-subtitle {font-family: 'Roboto'; font-weight: 400; font-size: 1.68vw; line-height: 0.02vh; fill: #f7f5e7;}
.body {font-family: 'Roboto'; font-weight: 500; font-size: 1.2vw; line-height: 1.2vh; fill: #605849;}
.mint-body {font-family: 'Roboto'; font-weight: 400; font-size: 1.1vw; line-height: 1.2vh; fill: #cfd6b9;}
.lime-body {font-family: 'Roboto'; font-weight: 400; font-size: 1.04vw; line-height: 0.013vh; fill: #e6eca2;}
.green-body {font-family: 'Roboto'; font-weight: 500; font-size: 1.1vw; line-height: 0.013vh; fill: #384435;}
.grey-caption {font-family: 'Roboto'; font-weight: 400; font-size: 1vw; line-height: 0.013vh; fill: #bcb6b3;}
.brown-caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.9vw; line-height: 0.013vh; fill: #605849;}
.lime-caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.9vw; line-height: 0.013vh; fill: #e6eca2;}
.mint-caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.94vw; line-height: 0.013vh; fill: #cfd6b9;}
.avo-white-caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.98vw; line-height: 0.013vh; fill: white;}
.avo-green-caption {font-family: 'Roboto'; font-weight: 400; font-size: 0.98vw; line-height: 0.013vh; fill: #92a740;}
#optionExport:hovor, #optionImport:hovor {cursor: pointer;}

#rectEl0 {opacity: 0; animation: rectStacked0 ease 1s 0.1s forwards;}
#rectEl1 {opacity: 0; animation: rectStacked1 ease-out 1s 0.15s forwards;}
#rectEl2 {opacity: 0; animation: rectStacked2 ease-out 1s 0.2s forwards;}
#rectEl3 {opacity: 0; animation: rectStacked3 ease-out 1s 0.25s forwards;}
#rectEl4 {opacity: 0; animation: rectStacked4 ease-out 1s 0.3s forwards;}
@keyframes rectStacked0{
    0% {opacity: 1; height: 0;}
    30% {opacity: 1; height: 66.3%;}
    100% {opacity: 1; height: 66.3%;}
}
@keyframes rectStacked1{
    0% {opacity: 1; height: 0;}
    40% {opacity: 1; height: 41%;}
    100% {opacity: 1; height: 41%;}
}
@keyframes rectStacked2{
    0% {opacity: 1; height: 0;}
    50% {opacity: 1; height: 17%;}
    100% {opacity: 1; height: 17%;}
}
@keyframes rectStacked3{
    0% {opacity: 1; height: 0;}
    60% {opacity: 1; height: 7%;}
    100% {opacity: 1; height: 7%;}
}
@keyframes rectStacked4{
    0% {opacity: 1; height: 0;}
    70% {opacity: 1; height: 3.5%;}
    100% {opacity: 1; height: 3.5%;}
}

.body, .caption {transform-box: fill-box; opacity: 0; animation: opacity ease-in-out 1s 0.2s forwards;}
@keyframes opacity{
    0% {opacity: 0;}
    50% {opacity: 0.8;}
    60% {opacity: 1;}
    100% {opacity: 1;}
}

#avocadoImg1 {transform-box: fill-box; opacity: 0; animation: scale1 ease-out 0.6s forwards;}
#avocadoImg2 {transform-box: fill-box; opacity: 0; animation: scale2 ease-out 0.6s 0.1s forwards;}
#avocadoImg3 {transform-box: fill-box; opacity: 0; animation: scale3 ease-out 0.6s 0.3s forwards;}
#avocadoImg4 {transform-box: fill-box; opacity: 0; animation: scale4 ease-out 0.6s 0.5s forwards;}
@keyframes scale1{
    0% {opacity: 1; transform: matrix(0.4, 0, 0, 0.4, 84, 144);}
    10% {opacity: 1; transform: matrix(0.42, 0, 0, 0.42, 84, 144);}
    20% {opacity: 1; transform: matrix(0.48, 0, 0, 0.48, 84, 144);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes scale2{
    0% {opacity: 1; transform: matrix(0.4, 0, 0, 0.4, 84, 144);}
    10% {opacity: 1; transform: matrix(0.42, 0, 0, 0.42, 84, 144);}
    20% {opacity: 1; transform: matrix(0.48, 0, 0, 0.48, 84, 144);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes scale3{
    0% {opacity: 1; transform: matrix(0.4, 0, 0, 0.4, 84, 144);}
    10% {opacity: 1; transform: matrix(0.42, 0, 0, 0.42, 84, 144);}
    20% {opacity: 1; transform: matrix(0.48, 0, 0, 0.48, 84, 144);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes scale4{
    0% {opacity: 1; transform: matrix(0.4, 0, 0, 0.4, 84, 144);}
    10% {opacity: 1; transform: matrix(0.42, 0, 0, 0.42, 84, 144);}
    20% {opacity: 1; transform: matrix(0.48, 0, 0, 0.48, 84, 144);}
    100% {opacity: 1; transform: scale(1);}
}

#avoInnerText0, #avoInnerText1, #avoInnerText2, 
#avoInnerText3, #avoInnerText4, #avoInnerText5, 
.title, .subtitle, .avo-green-caption {opacity: 0; transform-box: fill-box; animation: bounce ease 0.7s 0.2s forwards;}

#avocadoDescCircle0, #avocadoDescCircle1, #avocadoDescCircle2, 
#avocadoDescCircle3, #avocadoDescCircle4, #avocadoDescCircle5, 
#avocadoDescCircle6, #avocadoDescCircle7, #avocadoDescCircle8 {opacity: 0; transform-box: fill-box; animation: bounce ease 0.6s 0.8s forwards;}

#avoOuterText0, #avoOuterText1, #avoOuterText2,
#avoOuterText3, #avoOuterText4, #avoOuterText5,
#avoOuterText6, #avoOuterText7, #avoOuterText8 {opacity: 0; transform-box: fill-box; animation: bounce ease 0.6s 1.6s forwards;}

@keyframes bounce{
    0% {opacity: 1; transform:translateY(0%);}
    40% {opacity: 1; transform:translateY(30%);}
    60% {opacity: 1; transform:translateY(-30%);}
    90% {opacity: 1; transform:translateY(10%);}
    100% {opacity: 1; transform:translateY(0);}
}

#avocadoDescLine0, #avocadoDescLine1, #avocadoDescLine2, 
#avocadoDescLine3, #avocadoDescLine4, #avocadoDescLine5, 
#avocadoDescLine6, #avocadoDescLine7, #avocadoDescLine8 {opacity: 0; transform-box: fill-box;  animation: lineMove ease-out 4s 1.2s forwards;}

@keyframes lineMove{
    0% {stroke-dasharray: 1000; stroke-dashoffset: 1000; stroke-linecap: round; opacity: 1;}
    100% {stroke-dashoffset: 0; opacity: 1;}
}




