<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <canvas id="section_1"></canvas>
    <canvas id="section_2">
    <canvas id="section_3"></canvas>
    <!-- Custom JS -->
    <script src="/js/canvas.js"></script>
  </body>
</html>

