<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <svg id="section-1"></svg>
    <svg id="section-2"></svg>
    <svg id="section-3"></svg>
    <!-- Custom JS -->
    <script src="/js/section-1.js"></script>
    <script src="/js/section-2.js"></script>
    <script src="/js/section-3.js"></script>
  </body>
</html>
