<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <svg id="section-0"></svg>
    <div id="cavas-area2"></div>
    <!-- Custom JS -->
    <script src="/js/section-0.js"></script>
    <script src="/js/section-1.js"></script>
    <!-- <script src="/js/canvas.js"></script> -->
  </body>
</html>
