<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <canvas id="cavas-area"></canvas>
    <svg id="d3-area"></svg>
    <div id="cavas-area2"></div>
    <!-- Custom JS -->
    <script src="/js/canvas.js"></script>
    <script src="/js/d3.js"></script>
  </body>
</html>
