<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="bg-light" data-gr-c-s-loaded="true" cz-shortcut-listen="true">
  <div class="container-fluid">
    <div class="row mx-0 p-5 bg-yellow">
      <div class="Khaki mb-4"></div>
      <div class="w-100"></div>
      <div class="col-md-4 pl-0 pr-4">
        <h2 class="title">Avocado’s nutrition and feature.</h2>
        <p class="pt-2">The avocado is prized for its high nutrient value and is added to various dishes due to its good flavor and rich texture (healthline.com).</p>
        <p>These days, this food has become an incredibly popular food among health-conscious individuals. It’s often referred to as a superfood, which is not surprising given its health properties (Hass avocado composition and potential health effects).</p>
        <p class="sub-color">Source: <a href="www.tridge.com" class="sub-color">www.tridge.com</a>, <a href="https://hassavocadoboard.com/" class="sub-color">https://hassavocadoboard.com</a></p>
      </div>
      <div id="avocado" class="col-md-4 px-0 pb-0">
        <canvas id="nutrition" class="pr-0"></canvas>
      </div>
      <div class="col-md-4 px-0 pb-0 bg-dark">
        <canvas id="feature" class="pr-0"></canvas>
      </div>
    </div>
    <div class="row mx-0 pb-5 bg-ivory">
      <div class="p-5 col-md-6 mb-3">
        <h2 class="title">Who imports the most?</h2>
        <small>Top Importing Countries (2020)</small>
        <canvas id="importing" class="mt-2 mx-0 pl-0"></canvas>
      </div>
      <div class="p-5 col-md-6 mb-3">
        <h2 class="title">Who exports the most?</h2>
        <small>Top Exporting Countries (2020)</small>
        <canvas id="exporting" class="mt-2 mx-0 pr-0"></canvas>
      </div>
    </div>
    <div class="bg-soil py-5 pl-5">
      <h2 class="title point-color">Total U.S. unit sales annual growth, 2020</h2>
      <div class="w-100"></div>
      <div class="d-flex justify-content-between mt-4">
        <div class="p-3 bg-ivory">
          <div class="">
            <div><small class="brown-color">Current Market</small></div>
            <select class="mt-2 form-control-sm shadow-sm bg-light text-dark">Midsouth</select>
          </div>
          <table class="table">
            <caption class="brown-color">Table will be here.</caption>
          </table>
        </div>
        <div class="p-5 mr-5 bg-light d-flex align-items-center">
          <div class="brown-color">U.S. Map will be here.</div>
        </div>
      </div>
    </div>
</div>
<!-- Custom JS -->
<script src="/js/canvas.js"></script>
</body>
</html>

